body{
    background-color: #fff;
}

header {
    background-color: #247;
    color: #fff;
}

nav {
    background-color: #DB9769;
}

h1{
    margin-bottom: 0;
}

h2 {
    color: #6354DB;    
}

dt {
    color: #003;
}

.resort {
    color: ##DB9769;
}
